*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(159, 153, 153);
}
.container{
    width: 350px;
    height: 400px;
   position: relative;
   cursor: pointer; 
   overflow: hidden;
}
.container:hover .text{
    visibility:visible ;
}
.container:hover img{
    transform: scale(1.1);
}
.image{
    width: 350px;
    height: 400px;
}
.image img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    transition: 0.5s ease-in;
}
.text{
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: rgb(252, 195, 204);
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease-in;
}
